
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #000000;
    color: #212121;
    line-height: 1.5;
  }
  
  img {
    display: block;
    height: 80px;
    width: 70px;
    border: 10px solid #000000;
  }
  
  .centered {
      height: 100px;
      width: 300px;
      margin: 0 auto;
      text-align: center;
  }
  
  .obrazek {
    height: 80px;
    width: 70px;
  }
  .switcher {
    height: 100px;
    width: 100px;
  }